<!DOCTYPE html> 
<html>
  <head>
    <meta charset="UTF-8">
    <title>Leveraging Long and Short-term Information in Context-aware movie recommendation</title>
  </head>
  <body>
    <video src="{{ url_for('static',filename='video/paper-talk-fast.mp4') }}" 
      width="1404" height="928" 
      controls="controls"  
      autoplay 
      loop 
      type="mp4">
    </video>
      <p>Leveraging Long and Short-term Information in Context-aware movie recommendation</p>
      <p>主讲人：黄宏兴</p>
  </body>
</html>

